<A NAME="R_News"><h4>News</h4></A>
<i>
<ul>
<li> <b> <font color="#FF0000">[2025.03]</font> </b> A paper is accepted by <b>IEEE Transactions on Pattern Analysis and Machine Intelligence</b>.</li>
<li> <b> <font color="#FF0000">[2025.03]</font> </b> A co-author paper is accepted by <b>IEEE/CVF Conference on Computer Vision and Pattern Recognition</b>.</li>
<li> <b> <font color="#FF0000">[2025.02]</font> </b> A co-author paper is accepted by <b>Neural Networks</b>.</li>
<li> <b> <font color="#FF0000">[2025.02]</font> </b> A co-author paper is accepted by <b>IEEE Transactions on Geoscience and Remote Sensing</b>.</li>
<li> <b> <font color="#FF0000">[2025.02]</font> </b> A co-author paper is accepted by <b>International Journal of Applied Earth Observation and Geoinformation</b>.</li>
<li> <b> <font color="#FF0000">[2025.01]</font> </b> A co-author paper is accepted by <b>ISPRS Journal of Photogrammetry and Remote Sensing</b>.</li>
<li> <b> <font color="#FF0000">[2024.12]</font> </b> Supported by the Fundamental Research Project for Young Professional from NSFC (<a href="https://sigma.whu.edu.cn/info/1051/2211.htm" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2024.09]</font> </b> A co-first author paper is accepted by <b>ACM Computing Surveys (IF=24)</b>.</li>
<li> <b> <font color="#FF0000">[2024.07]</font> </b> Got the <b>Second-Class Prize</b> in the PhD Student Forum of the School of Computer Science in Wuhan University. (<a href="https://cs.whu.edu.cn/info/1054/44931.htm" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2024.06]</font> </b> Collaborate to propose <b>the world's first billion-level hyperspectral foundation model, HyperSIGMA</b></li>
<li> <b> <font color="#FF0000">[2024.05]</font> </b> Took part in the Chinese Congress on Image and Graphics in Xian, China. (<a href="/assets/img/exp/ccig_2024.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2024.05]</font> </b> A paper is accepted by <b>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing</b> (special issue on "Large-Scale Pretraining for Interpretation Promotion in Remote Sensing Domain").</li>
<li> <b> <font color="#FF0000">[2024.05]</font> </b> Took part in the 14th Vision And Learining SEminar held in Chongqing, China. (<a href="/assets/img/exp/valse_2024.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2024.04]</font> </b> A co-author paper is accepted by <b>International Joint Conference on Artificial Intelligence</b>.</li>
<li> <b> <font color="#FF0000">[2023.10]</font> </b> A co-author paper is accepted by <b>IEEE Transactions on Image Processing</b>.</li>
<li> <b> <font color="#FF0000">[2023.09]</font> </b> A paper is accepted by <b>Annual Conference on Neural Information Processing Systems</b>.</li>
<li> <b> <font color="#FF0000">[2023.07]</font> </b> Took part in the 2023 ACM Turing Award Celebration Conference held in Wuhan, China. (<a href="/assets/img/exp/acmturc_2023.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2023.07]</font> </b> Took part in the 2023 AI Remote Sensing Large Model Industry Summit held in Wuhan, China. (<a href="/assets/img/exp/rslargemodel_2023.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2023.06]</font> </b> Took part in the 13th Vision And Learining SEminar held in Wuxi, China. (<a href="/assets/img/exp/valse_2023.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2023.04]</font> </b> Took part in the 8th China High Resolution Earth Observation Conference held in Beijing, China. (<a href="/assets/img/exp/gaofen_2023.jpg" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2023.04]</font> </b> A paper is accepted by <b>IEEE Transactions on Neural Networks and Learning Systems</b>.</li>
<li> <b> <font color="#FF0000">[2023.04]</font> </b> A paper is accepted by <b>IEEE Transactions on Image Processing</b>.</li>
<li> <b> <font color="#FF0000">[2023.04]</font> </b> A paper is accepted by <b>IEEE Transactions on Neural Networks and Learning Systems</b>.</li>
<li> <b> <font color="#FF0000">[2023.03]</font> </b> Got the <b>championship</b> in the 5th International Gaofen Challenge held in Xiamen, China. (<a href="https://liesmars.whu.edu.cn/info/1056/7243.htm" target="_blank">link</a>)</li>
<li> <b> <font color="#FF0000">[2023.03]</font> </b> Got the <b> 1st place </b> of the Alibaba Cloud Tianchi Long Term Competition of Surface Building Identification. (<a href="/assets/img/exp/tianchi_building.png" target="_blank">link</a>)</li>
</ul>
</i>
<br />


<A NAME="Experience"><h4> Occupation</h4></A>

<table width="100%" class="imgtable">
    <tr>
        <td>
            <p>
            <b>[2023.05-2025.01] Research Intern </b>
            <br> iFlytek, Hefei, China
        </p>
        </td>
        <td><img src="/assets/img/exp/iflytek.svg" align="right" width="190" hspace="10"> </td>
    </tr>
</table>

<table width="100%" class="imgtable">
    <tr>
        <td>
            <p>
            <b>[2021.12-2023.05] Research Intern </b>
            <br> JD Explore Academy, Beijing, China
        </p>
        </td>
        <td><img src="/assets/img/exp/jd.png" align="right" width="190" hspace="10"> </td>
    </tr>
</table>

 
<A NAME="Experience"><h4> Education </h4></A>

<br>

<div style="line-height: 150%;"><img src="/assets/img/exp/whu.png" align="right" width="100" hspace="40">
    <b>[2021.09-Now] PhD Candidate </b>
    <br> Wuhan University, Wuhan, China
    <br> School of Computer Science, Artificial Intelligence
    <br> Supervised by Dr. Jing Zhang, Prof. Bo Du, Prof. Dacheng Tao, and Prof. Liangpei Zhang
</div>

<br>
<br>

<div style="line-height: 150%;"><img src="/assets/img/exp/whu.png" align="right" width="100" hspace="40">
    <b>[2018.09-2020.06] Master of Engineering </b>
    <br> Wuhan University, Wuhan, China
    <br> State Key Laboratory of Information Engineering in Surveying, Mapping and Remote Sensing, Surveying and Mapping
    <br> Supervised by AProf. Lei Shi, Prof. Bo Du and Prof. Liangpei Zhang
</div>

<br>
<br>

<div style="line-height: 150%;"><img src="/assets/img/exp/upc.svg" align="right" width="100" hspace="40">
    <b>[2014.09-2018.06] Bachelor of Engineering </b>
    <br> China University of Petroleum (East China), Qingdao, China
    <br> School of Geosciences, Surveying and Mapping
    <br> Supervised by AProf. Zhe Zeng
</div>


<!--
<br>
<br>

<table width="100%" class="imgtable">
    <tr>
        <td>
            <p>
            <b>[2021.09-2024.06] PhD Candidate </b>
            <br> Wuhan University, Wuhan, China
            <br> School of Computer Science, Artificial Intelligence
            <br> Supervised by Dr. Jing Zhang, Prof. Bo Du, Prof. Dacheng Tao, and Prof. Liangpei Zhang
        </p>
        </td>
        <td><img src="/assets/img/exp/whu.png" width="100px" style="float: right;"> </td>
    </tr>
</table>

<br>
<br>


<table width="100%" class="imgtable">
    <tr>
        <td>
            <p>
            <b>[2018.09-2020.06] Master of Engineering </b>
            <br> Wuhan University, Wuhan, China
            <br> State Key Laboratory of Information Engineering in Surveying, Mapping and Remote Sensing, Surveying and Mapping
            <br> Supervised by AProf. Lei Shi, Prof. Bo Du and Prof. Liangpei Zhang
        </p>
        </td>
        <td><img src="/assets/img/exp/whu.png" width="100px" style="float: right;"> </td>
    </tr>
</table>

<br>
<br>

<table width="100%" class="imgtable">
    <tr>
        <td>
            <p>
            <b>[2018.09-2020.06] Bachelor of Engineering </b>
            <br> China University of Petroleum (East China), Qingdao, China
            <br> School of Geosciences, Surveying and Mapping
            <br> Supervised by AProf. Zhe Zeng
        </p>
        </td>
        <td><img src="/assets/img/exp/upc.svg" width="100px" style="float: right;"> </td>
    </tr>
</table>
-->
