<h4> Awards </h4>

<br> 

<ul>
<li>2025: People's Choice Poster Award of Vision And Learning Seminar 2025 | VALSE 2025 人气海报奖</li>
<li>2024: Fundamental Research Project for Young Professional from NSFC | 国家自然科学基金青年学生基础研究项目（博士研究生）</li>
<li>2024: Second-Prize of the PhD Student Forum of the School of Computer Science in Wuhan University | 武汉大学计算机学院博士生论坛二等奖</li>
<li>2023: Graduate Academic Innovation First-Class Prize in Wuhan University | 武汉大学研究生学术创新一等奖 </li>
<li>2022-2023: First and Second-Class Academic Scholarship for Graduate Student in Wuhan University | 武汉大学研究生学业一、二等奖 </li>
<li>2015-2017: Second and Third-Class Academic Scholarship in China University of Petroleum (East China) | 中石大华东学业二、三等奖 </li>
</ul>

<br>
 
<h4>Competitions</h4>

<br> 

<ul>
<li>2023: The 5th International Gaofen Challenge, High Resolution SAR Image Coastal Aquaculture Pond Segmentation Track. Team: TNT, 1/129. (<b><a href="https://mp.weixin.qq.com/s/zJ2jOXa8rwIPGJ0vg2znDw"><font color="#FF0000">Champion!</font></a></b>)  </li>
<li>2023: Alibaba Cloud Tianchi Long Term Competition of Surface Building Identification. Team: HJWSL丶, 1/5028. </li>
<li>2021: 2020 IEEE Data Fusion Contest. Team: jinitaimei, 23/159.
<li>2020: 2019 IEEE Data Fusion Contest Track 1. Team: hjxl_dww, 10/176. (<b>Top 10%</b>) </li>
<li>2019: Alibaba Cloud German AI Challenge 2018. Team: 广埠屯铁头娃, 50/1329. (<b>Top 5%</b>) </li>
</ul>
