<h3>Conferences</h3>

<br>

<h5>Remote Sensing Foundation Model</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/samrs.png" width="330px"></td>
        <td>
            <a href="https://papers.nips.cc/paper_files/paper/2023/hash/1be3843e534ee06d3a70c7f62b983b31-Abstract-Datasets_and_Benchmarks.html"> SAMRS: Scaling-up Remote Sensing Segmentation Dataset with Segment Anything Model </a>
            <br> <b>Di Wang</b>, Jing Zhang, Bo Du, Minqiang Xu, Lin Liu, Dacheng Tao and Liangpei Zhang 
            <br><i> Advances in Neural Information Processing Systems Datasets and Benchmarks Track (<b><i>NeurIPS</i></b>)</i>, 2023.
            <br>[<a href="https://arxiv.org/abs/2305.02034">Paper</a>][<a href="https://github.com/ViTAE-Transformer/SAMRS">Code</a>][<a href="/assets/img/pub/samrs_poster.png">Poster</a>]
            <br> News: <a href="https://mp.weixin.qq.com/s/ESvl1nMPL7X4osT5Rg2O1g">“巢湖明月”智算算力助力遥感图像多阶段预训练大模型发布</a>
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/lemevit.png" width="330px"></td>
        <td>
            <a href="https://www.ijcai.org/proceedings/2024/103"> LeMeViT: Efficient Vision Transformer with Learnable Meta Tokens for Remote Sensing Image Interpretation </a>
            <br> Wentao Jiang, Jing Zhang, <b>Di Wang</b>, Qiming Zhang, Zengmao Wang and Bo Du
            <br><i> International Joint Conference on Artificial Intelligence (<b><i>IJCAI</i></b>)</i>, 2024.
            <br>[<a href="https://arxiv.org/abs/2405.09789">Paper</a>][<a href="https://github.com/ViTAE-Transformer/LeMeViT">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/xlrsbench.png" width="330px"></td>
        <td>
            <a href="https://cvpr.thecvf.com/virtual/2025/poster/35068"> XLRS-Bench: Could Your Multimodal LLMs Understand Extremely Large Ultra-High-Resolution Remote Sensing Imagery? </a>
            <br> Fengxiang Wang, Hongzhen wang, Zonghao Guo, <b>Di Wang</b>, Yulin Wang, Mingshuo Chen, Qiang Ma, Long Lan, Wenjing Yang, Jing Zhang, Zhiyuan Liu and Maosong Sun
            <br><i> IEEE/CVF Conference on Computer Vision and Pattern Recognition (<b><i>CVPR</i></b>)</i>, 2025. (<b><font color="#FF0000">CVPR Highlight</font></b>)
            <br>[<a href="https://arxiv.org/abs/2503.23771">Paper</a>][<a href="https://xlrs-bench.github.io">Project</a>]
        </td>
    </tr>
</table>

<br>

<h3>Journals</h3>

<br>

<h5>Remote Sensing Foundation Model</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/hypersigma.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10949864"> HyperSIGMA: Hyperspectral Intelligence Comprehension Foundation Model </a>
            <br> <b>Di Wang</b>*, Meiqi Hu*, Yao Jin*, Yuchun Miao*, Jiaqi Yang*, Yichu Xu*, Xiaolei Qin*, Jiaqi Ma*, 
            <br> Lingyu Sun*, Chenxing Li*, Chuan Fu, Hongruixuan Chen, Chengxi Han, Naoto Yokoya, Jing Zhang, 
            <br> Minqiang Xu, Lin Liu, Lefei Zhang, Chen Wu, Bo Du, Dacheng Tao and Liangpei Zhang
            <br><i>IEEE Transactions on Pattern Analysis and Machine Intelligence (<b><i>TPAMI</i></b>)</i>, 2025.
            <br>[<a href="https://arxiv.org/abs/2406.11519">Paper</a>][<a href="https://github.com/WHU-Sigma/HyperSIGMA">Code</a>][<a href="https://whu-sigma.github.io/HyperSIGMA">Project</a>]
            <br> News: [<a href="https://mp.weixin.qq.com/s/tYqe95Ip-fRBM57F2F5rvw">IEEE GRSS Wuhan: 全球首个十亿级高光谱智能理解基础模型</a>]
                       [<a href="https://mp.weixin.qq.com/s/dsUYTbZKfYBGmC4mju0zPg">测国重新闻报道</a>]
                       [<a href="https://mp.weixin.qq.com/s/7CBtVbv2PULV2Vl_mjK3Hw">数据代码模型均开源! HyperSIGMA高光谱遥感基础模型</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/mtp.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10547536"> MTP: Advancing Remote Sensing Foundation Model Via Multi-Task Pretraining </a>
            <br> <b>Di Wang</b>, Jing Zhang, Minqiang Xu, Lin Liu, Dongsheng Wang, Erzhong Gao, Chengxi Han, 
            <br> Haonan Guo, Bo Du, Dacheng Tao and Liangpei Zhang
            <br><i>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing (<b><i>JSTARS</i></b>)</i>, 2024.
            <br>[<a href="https://arxiv.org/abs/2403.13430">Paper</a>][<a href="https://github.com/ViTAE-Transformer/MTP">Code</a>]
            <br> News: <a href="https://mp.weixin.qq.com/s/rCWZ4q3p8dqpZTLeO10Caw">MTP: 基于遥感基础模型的多任务预训练范式</a>
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/rvsa.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/abstract/document/9956816"> Advancing Plain Vision Transformer Towards Remote Sensing Foundation Model </a>
            <br> <b>Di Wang</b>*, Qiming Zhang*, Yufei Xu*, Jing Zhang, Bo Du, Dacheng Tao and Liangpei Zhang
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2022. (<b><font color="#FF0000">ESI Highly Cited Paper</font></b>)
            <br> [<a href="https://arxiv.org/abs/2208.03987">Paper</a>][<a href="https://github.com/ViTAE-Transformer/Remote-Sensing-RVSA">Code</a>] 
            <br> News: 
            [<a href="https://mp.weixin.qq.com/s/AXdc0tXlyxFG5mVT7iB5qQ">全球首个面向遥感任务设计的亿级视觉Transformer大模型</a>]
            [<a href="https://mp.weixin.qq.com/s/SewskD5hKVe6tcyFyCtLuQ">探索研究院年度高光时刻盘点</a>]
            [<a href="http://liesmars.whu.edu.cn/info/1056/7243.htm">测国重</a>]
            [<a href="https://mp.weixin.qq.com/s/dGXPdC1H0s5cAbr_mf_Dvg">遥感院</a>]
            [<a href="http://ai.whu.edu.cn/index.php?a=show&catid=4&id=86">AI研究院</a>]
            [<a href="http://multimedia.whu.edu.cn/index.php?a=show&catid=4&id=233&lang=1">多媒体中心</a>]
            [<a href="http://mmnce.whu.edu.cn/index.php?a=show&catid=4&id=161">多媒体实验室</a>]
            [<a href="http://sigma.whu.edu.cn/newspage.php?q=2022_12_21_01">课题组</a>]
            [<a href="https://mp.weixin.qq.com/s/cB_xRHr-oqOetTVc9rhGsA">慧天地</a>]
            [<a href="https://www.taibo.cn/p/88566">泰伯网</a>]
            [<a href="https://mp.weixin.qq.com/s/rdO3pPitTJY3MZutDW_TPg">CVer</a>]
            [<a href="https://mp.weixin.qq.com/s/jfhkuPV-vlPXHxDh3RgBzA">52CV</a>]
            [<a href="https://hub.baai.ac.cn/view/22333">智源</a>]
            [<a href="https://www.cvmart.net/community/detail/6956">极市平台</a>]
            [<a href="https://mp.weixin.qq.com/s/mF8My7Ut6lKazIbdh37jzQ">将门创投</a>]
            [<a href="https://m.hbtv.com.cn/p/2388212.html">长江云</a>]
            [<a href="https://www.163.com/dy/article/I0JB7TFS0530Q6HV.html">汉新闻</a>]
            [<a href="https://m.toutiao.com/article/7213717612088738343/?app=news_article&timestamp=1679585644&use_new_style=1&req_id=202303232334038657975796B9E32983B3&group_id=7213717612088738343&wxshare_count=1&tt_from=weixin&utm_source=weixin&utm_medium=toutiao_android&utm_campaign=client_share&share_token=a929c0ca-a1cb-488c-bbd6-f7bc6de8e90d">湖北经视</a>]
            [<a href="http://k.sina.com.cn/article_6054450374_168df94c602001huuu.html">广东广电</a>]
            [<a href="https://www.thepaper.cn/newsDetail_forward_25885453">澎湃新闻 “中国大模型，产业落地这一年”</a>]
            [<a href="https://www.guancha.cn/politics/2023_12_31_720859.shtml">观察者网 “中国大模型图鉴：深度解读《2023大模型落地应用案例集》”</a>]
            <br> The model has been included in <b><a href="https://github.com/WHULuoJiaTeam/luojianet"><font color="#FF0000">[LuojiaNet]</font></a></b>.
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/rsp.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9782149"> An Empirical Study of Remote Sensing Pretraining </a>
            <br> <b>Di Wang</b>*, Jing Zhang*, Bo Du, Gui-Song Xia, and Dacheng Tao
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2022. (<b><font color="#FF0000">ESI Highly Cited Paper</font></b>)
            <br>[<a href="https://arxiv.org/abs/2204.02825">Paper</a>][<a href="https://github.com/ViTAE-Transformer/RSP">Code</a>][<a href="https://www.bilibili.com/video/BV1y5411979L/?spm_id_from=333.999.0.0">Talk</a>][<a href="https://mp.weixin.qq.com/s/-2PHJ4Iwi2sR2Iv5eaPZ2w">Slide</a>]
            <br> News: 
            [<a href="https://mp.weixin.qq.com/s/nkpwRv_P3NyhbcsIP5Qs_Q">RSP: 遥感预训练的实证研究</a>]
            [<a href="https://mp.weixin.qq.com/s/z6Nn-qatk4DnPQwzhLXHvA">将门创投</a>]
        </td>
    </tr>
</table>

<br>

<h5>Remote Sensing Image Interpretation</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/hknas.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10159237"> HKNAS: Classification of Hyperspectral Imagery Based on Hyper Kernel Neural Architecture Search </a>
            <br> <b>Di Wang</b>, Bo Du, Liangpei Zhang and Dacheng Tao 
            <br><i>IEEE Transactions on Neural Networks and Learning Systems (<b><i>TNNLS</i></b>)</i>, 2023.
            <br>[<a href="https://arxiv.org/abs/2304.11701">Paper</a>][<a href="https://github.com/DotWang/HKNAS">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/dcnt.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10112639"> DCN-T: Dual Context Network with Transformer for Hyperspectral Image Classification </a>
            <br> <b>Di Wang</b>, Jing Zhang, Bo Du, Liangpei Zhang and Dacheng Tao
            <br><i>IEEE Transactions on Image Processing (<b><i>TIP</i></b>)</i>, 2023.
            <br>[<a href="https://arxiv.org/abs/2304.09915">Paper</a>][<a href="https://github.com/DotWang/DCN-T">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/ssgrn.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10114988"> Spectral-Spatial Global Graph Reasoning for Hyperspectral Image Classification </a>
            <br> <b>Di Wang</b>, Bo Du and Liangpei Zhang
            <br><i>IEEE Transactions on Neural Networks and Learning Systems (<b><i>TNNLS</i></b>)</i>, 2023.
            <br>[<a href="https://arxiv.org/abs/2106.13952">Paper</a>][<a href="https://github.com/DotWang/SSGRN">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/fcont.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9347487"> Fully Contextual Network for Hyperspectral Scene Parsing </a>
            <br> <b>Di Wang</b>, Bo Du and Liangpei Zhang
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2021. (<b><font color="#FF0000">ESI Highly Cited Paper</font></b>)
            <br>[<a href="https://ieeexplore.ieee.org/document/9347487">Paper</a>][<a href="https://github.com/DotWang/FullyContNet">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/assmn.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9121743"> Adaptive Spectral–Spatial Multiscale Contextual Feature Extraction for Hyperspectral Image Classification </a>
            <br> <b>Di Wang</b>, Bo Du, Liangpei Zhang and Yonghao Xu
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2020. (<b><font color="#FF0000">ESI Highly Cited Paper</font></b>) 
            <br>[<a href="https://ieeexplore.ieee.org/document/9121743">Paper</a>][<a href="https://github.com/DotWang/ASSMN">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/mshcn.png" width="330px"></td>
        <td>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/2150704X.2019.1711238"> Hyperspectral image classification based on multi-scale information compensation </a>
            <br> <b>Di Wang</b>, Bo Du, Liangpei Zhang and Sheng Chu
            <br><i>Remote Sensing Letters (<b><i>RSL</i></b>)</i>, 2020.
            <br>[<a href="https://www.tandfonline.com/doi/abs/10.1080/2150704X.2019.1711238">Paper</a>][<a href="https://github.com/DotWang/MSHCN">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/iter.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/abstract/document/10325566"> ITER: Image-to-Pixel Representation for Weakly
                Supervised HSI Classification </a>
            <br> Jiaqi Yang, Bo Du, <b>Di Wang</b> and Liangpei Zhang
            <br><i>IEEE Transactions on Image Processing (<b><i>TIP</i></b>)</i>, 2024.
            <br>[<a href="https://ieeexplore.ieee.org/abstract/document/10325566">Paper</a>]
            <br> News: <a href="https://mp.weixin.qq.com/s/aGSlGqNR4YgsEEEfCh0CEw">高光谱图像分类：首次使用图像级标注进行像素级分类</a>
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/disep.png" width="330px"></td>
        <td>
            <a href="https://www.sciencedirect.com/science/article/pii/S0924271625000073"> Plug-and-play DISep: Separating dense instances for scene-to-pixel 
                weakly-supervised change detection in high-resolution remote sensing images </a>
            <br> Zhenghui Zhao, Chen Wu, Lixiang Ru, <b>Di Wang</b>, Hongruixuan Chen and Cuiqun Chen
            <br><i>ISPRS Journal of Photogrammetry and Remote Sensing (<b><i>ISPRS</i></b>)</i>, 2025.
            <br>[<a href="https://www.sciencedirect.com/science/article/pii/S0924271625000073">Paper</a>][<a href="https://github.com/zhenghuizhao/Plug-and-Play-DISep-for-Change-Detection">Code</a>]
            <br> News: <a href="https://mp.weixin.qq.com/s/mDhnHLUbhwEWxRdUIjaKCw">即插即用模型用于弱监督遥感变化检测, 从场景级数据到实例级结果</a>
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/transwcd.png" width="330px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/10902495"> TransWCD: Scene-Adaptive Joint Constrained Framework for Weakly-Supervised Change Detection </a>
            <br> Zhenghui Zhao, Lixiang Ru, Chen Wu and <b>Di Wang</b>
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2025.
            <br>[<a href="https://ieeexplore.ieee.org/document/10902495">Paper</a>][<a href="https://github.com/zhenghuizhao/TransWCD">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/dsformer.png" width="330px"></td>
        <td>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S089360802500190X"> Dual selective fusion transformer network for hyperspectral image classification </a>
            <br> Yichu Xu, <b>Di Wang</b>, Lefei Zhang and Liangpei Zhang
            <br><i>Neural Networks (<b><i>NN</i></b>)</i>, 2025.
            <br>[<a href="https://www.sciencedirect.com/science/article/abs/pii/S089360802500190X">Paper</a>][<a href="https://github.com/YichuXu/DSFormer">Code</a>]
        </td>
    </tr>
</table>

<br>

<h5>Remote Sensing Technology Application</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/agrifood_survey.png" width="330px"></td>
        <td>
            <a href="https://dl.acm.org/doi/10.1145/3698589"> Empowering Agrifood System with Artificial Intelligence: A Survey of the Progress, Challenges and Opportunities </a>
            <br> Tao Chen*, Liang Lv*, <b>Di Wang</b>*, Jing Zhang, Yue Yang, Zeyang Zhao, Chen Wang, Xiaowei Guo, 
            <br> Hao Chen, Qingye Wang, Yufei Xu, Qiming Zhang, Bo Du, Liangpei Zhang and Dacheng Tao
            <br><i>ACM Computing Surveys (<b><i>CSUR</i></b>)</i>, 2024.
            <br>[<a href="https://dl.acm.org/doi/10.1145/3698589">Paper</a>][<a href="https://github.com/Frenkie14/Agrifood-Survey">Project</a>]
            <br> News: 
            [<a href="https://mp.weixin.qq.com/s/aWunI3DZhAI3AleIXVEt5g">空天地一体化人工智能赋能农产品系统: 进展, 机遇与挑战综述</a>]
            [<a href="https://mp.weixin.qq.com/s/nCfiyGCJzo01OVxmODeq9Q">基于空天地大数据的人工智能技术在农产品系统中的进展，机遇与挑战综述</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/qxl_stcln_jag.png" width="330px"></td>
        <td>
            <a href="https://www.sciencedirect.com/science/article/pii/S1569843225000731"> Spatiotemporal masked pre-training for advancing crop mapping on satellite image time series with limited labels </a>
            <br> Xiaolei Qin, Haonan Guo, Xin Su, Zhenghui Zhao, <b>Di Wang</b> and Liangpei Zhang
            <br><i>International Journal of Applied Earth Observation and Geoinformation (<b><i>JAG</i></b>)</i>, 2025.
            <br>[<a href="https://www.sciencedirect.com/science/article/pii/S1569843225000731">Paper</a>][<a href="https://github.com/XiaoleiQinn/STCLN">Code</a>]
            <br> News: <a href="https://mp.weixin.qq.com/s/MReeOJ_RhD1ZykPPQUgCjg">武大团队提出时空协同网络用于自监督遥感农作物分类，代码开源</a>
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/rs_fishpond.png" width="330px"></td>
        <td>
            <a href="https://www.mdpi.com/2072-4292/13/1/92"> RCSANet: A Full Convolutional Network for Extracting Inland Aquaculture Ponds from High-Spatial-Resolution Images </a>
            <br> Zhe Zeng, <b>Di Wang</b>, Wenxia Tan, Gongliang Yu, Jiacheng You, Botao Lv and Zhongheng Wu
            <br><i>Remote Sensing (<b><i>RS</i></b>)</i>, 2020.
            <br>[<a href="https://www.mdpi.com/2072-4292/13/1/92">Paper</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="350"> <img src="/assets/img/pub/jag_fishpond.png" width="330px"></td>
        <td>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0303243418309620"> Extracting aquaculture ponds from natural water surfaces around inland lakes on medium resolution multispectral images </a>
            <br> Zhe Zeng, <b>Di Wang</b>, Wenxia Tan and Jianhua Huang
            <br><i>International Journal of Applied Earth Observation and Geoinformation (<b><i>JAG</i></b>)</i>, 2019.
            <br>[<a href="https://www.sciencedirect.com/science/article/abs/pii/S0303243418309620">Paper</a>]
        </td>
    </tr>
</table>

