<h3>Journals</h3>

<br>

<h5>Remote Sensing Foundation Model</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/rvsa.png" width="270px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/abstract/document/9956816"> Advancing Plain Vision Transformer Towards Remote Sensing Foundation Model </a>
            <br> <b>Di Wang</b>, Qiming Zhang, Yufei Xu, Jing Zhang, Bo Du, Dacheng Tao and Liangpei Zhang
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2022.
            <br>[<a href="https://arxiv.org/abs/2208.03987">Paper</a>][<a href="https://github.com/ViTAE-Transformer/Remote-Sensing-RVSA">Code</a>]
            <br> News: 
            [<a href="https://mp.weixin.qq.com/s/AXdc0tXlyxFG5mVT7iB5qQ">探索研究院1</a>]
            [<a href="https://mp.weixin.qq.com/s/SewskD5hKVe6tcyFyCtLuQ">探索研究院2</a>]
            [<a href="http://liesmars.whu.edu.cn/info/1056/7243.htm">测国重</a>]
            [<a href="https://mp.weixin.qq.com/s/dGXPdC1H0s5cAbr_mf_Dvg">遥感院</a>]
            [<a href="http://ai.whu.edu.cn/index.php?a=show&catid=4&id=86">AI研究院</a>]
            [<a href="http://multimedia.whu.edu.cn/index.php?a=show&catid=4&id=233&lang=1">多媒体中心</a>]
            [<a href="http://mmnce.whu.edu.cn/index.php?a=show&catid=4&id=161">多媒体实验室</a>]
            [<a href="http://sigma.whu.edu.cn/newspage.php?q=2022_12_21_01">课题组</a>]
            [<a href="https://mp.weixin.qq.com/s/cB_xRHr-oqOetTVc9rhGsA">慧天地</a>]
            [<a href="https://www.taibo.cn/p/88566">泰伯网</a>]
            [<a href="https://mp.weixin.qq.com/s/rdO3pPitTJY3MZutDW_TPg">CVer</a>]
            [<a href="https://mp.weixin.qq.com/s/jfhkuPV-vlPXHxDh3RgBzA">52CV</a>]
            [<a href="https://hub.baai.ac.cn/view/22333">智源</a>]
            [<a href="https://www.cvmart.net/community/detail/6956">极市平台</a>]
            [<a href="https://mp.weixin.qq.com/s/mF8My7Ut6lKazIbdh37jzQ">将门创投</a>]
            [<a href="https://m.hbtv.com.cn/p/2388212.html">长江云</a>]
            [<a href="https://www.163.com/dy/article/I0JB7TFS0530Q6HV.html">汉新闻</a>]
            [<a href="https://m.toutiao.com/article/7213717612088738343/?app=news_article&timestamp=1679585644&use_new_style=1&req_id=202303232334038657975796B9E32983B3&group_id=7213717612088738343&wxshare_count=1&tt_from=weixin&utm_source=weixin&utm_medium=toutiao_android&utm_campaign=client_share&share_token=a929c0ca-a1cb-488c-bbd6-f7bc6de8e90d">湖北经视</a>]
            [<a href="http://k.sina.com.cn/article_6054450374_168df94c602001huuu.html">广东广电</a>]
            <br> The model has been included in <b><a href="https://github.com/WHULuoJiaTeam/luojianet"><font color="#FF0000">[LuojiaNet]</font></a></b>.
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/rsp.png" width="270px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9782149"> An Empirical Study of Remote Sensing Pretraining </a>
            <br> <b>Di Wang</b>, Jing Zhang, Bo Du, Gui-Song Xia, and Dacheng Tao
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2022.
            <br>[<a href="https://arxiv.org/abs/2204.02825">Paper</a>][<a href="https://github.com/ViTAE-Transformer/ViTAE-Transformer-Remote-Sensing">Code</a>][<a href="https://www.bilibili.com/video/BV1y5411979L/?spm_id_from=333.999.0.0">Talk</a>][<a href="https://mp.weixin.qq.com/s/-2PHJ4Iwi2sR2Iv5eaPZ2w">Slide</a>]
            <br> News: 
            [<a href="https://mp.weixin.qq.com/s/nkpwRv_P3NyhbcsIP5Qs_Q">探索研究院</a>]
            [<a href="https://mp.weixin.qq.com/s/z6Nn-qatk4DnPQwzhLXHvA">将门创投</a>]
        </td>
    </tr>
</table>

<br>

<h5>Hyperspectral Image Classification</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/ssgrn.png" width="270px"></td>
        <td>
            Spectral-Spatial Global Graph Reasoning for Hyperspectral Image Classification
            <br> <b>Di Wang</b>, Bo Du and Liangpei Zhang</em>
            <br><i>IEEE Transactions on Neural Networks and Learning Systems (<b><i>TNNLS</i></b>)</i>, 2023.
            <br>[<a href="https://arxiv.org/abs/2106.13952">Paper</a>][<a href="https://github.com/DotWang/SSGRN">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/fcont.png" width="270px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9347487"> Fully Contextual Network for Hyperspectral Scene Parsing </a>
            <br> <b>Di Wang</b>, Bo Du and Liangpei Zhang</em>
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2022.
            <br>[<a href="https://ieeexplore.ieee.org/document/9347487">Paper</a>][<a href="https://github.com/DotWang/FullyContNet">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/assmn.png" width="270px"></td>
        <td>
            <a href="https://ieeexplore.ieee.org/document/9121743"> Adaptive Spectral–Spatial Multiscale Contextual Feature Extraction for Hyperspectral Image Classification </a>
            <br> <b>Di Wang</b>, Bo Du, Liangpei Zhang and Yonghao Xu</em>
            <br><i>IEEE Transactions on Geoscience and Remote Sensing (<b><i>TGRS</i></b>)</i>, 2021. (<b><font color="#FF0000">ESI Highly Cited Paper</font></b>) 
            <br>[<a href="https://ieeexplore.ieee.org/document/9121743">Paper</a>][<a href="https://github.com/DotWang/ASSMN">Code</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/mshcn.png" width="270px"></td>
        <td>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/2150704X.2019.1711238"> Hyperspectral image classification based on multi-scale information compensation </a>
            <br> <b>Di Wang</b>, Bo Du, Liangpei Zhang and Sheng Chu</em>
            <br><i>Remote Sensing Letters (<b><i>RSL</i></b>)</i>, 2020.
            <br>[<a href="https://www.tandfonline.com/doi/abs/10.1080/2150704X.2019.1711238">Paper</a>][<a href="https://github.com/DotWang/MSHCN">Code</a>]
        </td>
    </tr>
</table>

<br>

<h5>Aquaculture Pond Extraction</h5>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/rs_fishpond.png" width="270px"></td>
        <td>
            <a href="https://www.mdpi.com/2072-4292/13/1/92"> RCSANet: A Full Convolutional Network for Extracting Inland Aquaculture Ponds from High-Spatial-Resolution Images </a>
            <br> Zhe Zeng, <b>Di Wang</b>, Wenxia Tan, Gongliang Yu, Jiacheng You, Botao Lv and Zhongheng Wu
            <br><i>Remote Sensing (<b><i>RS</i></b>)</i>, 2020.
            <br>[<a href="https://www.mdpi.com/2072-4292/13/1/92">Paper</a>]
        </td>
    </tr>
</table>

<br>

<table width="100%" class="imgtable">
    <tr>
        <td width="300"> <img src="/assets/img/pub/jag_fishpond.png" width="270px"></td>
        <td>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0303243418309620"> Extracting aquaculture ponds from natural water surfaces around inland lakes on medium resolution multispectral images </a>
            <br> Zhe Zeng, <b>Di Wang</b>, Wenxia Tan and Jianhua Huang
            <br><i>International Journal of Applied Earth Observation and Geoinformation (<b><i>JAG</i></b>)</i>, 2019.
            <br>[<a href="https://www.sciencedirect.com/science/article/abs/pii/S0303243418309620">Paper</a>]
        </td>
    </tr>
</table>
