<h3> Membership </h3>

<br> 

<ul>
<li>IEEE, Member</li>
<li>IEEE Young Professionals </li>
<li>IEEE Geoscience and Remote Sensing Society (GRSS), Student Member</li>
<li>中国图象图形学学会，学生会员</li>
<li>中国图象图形学学会遥感图像专业委员会，学生会员</li>
</ul>

<br>
 
<h3>Reviewer<h3>

<br> 

<h5>Journal</h5>

<ul>
<i>
<li>IEEE Transactions on Image Processing (<b>TIP</b>)</li>
<li>ISPRS Journal of Photogrammetry and Remote Sensing (<b>ISPRS P&RS</b>)</li>
<li>IEEE Transactions on Geoscience and Remote Sensing (<b>TGRS</b>)</li>
<li>IEEE Transactions on Circuits and Systems for Video Technology (<b>TCSVT</b>) </li>
<li>IEEE Transactions on Knowledge and Data Engineering (<b>TKDE</b>) </li>
<li>IEEE Transactions on Cybernetics (<b>TCYB</b>) </li>
<li>IEEE Geoscience and Remote Sensing Letters (<b>GRSL</b>)</li>
</i>
</ul>

<br> 

<h5>Conference</h5>

<ul>
<i>
<li>Annual Conference on Neural Information Processing Systems (<b>NeurIPS</b>) </li>
<li>International Conference on Learning Representations (<b>ICLR</b>) </li>
<li>IEEE/CVF Computer Vision and Pattern Recognition Conference (<b>CVPR</b>) </li>
<li>International Joint Conference on Artificial Intelligence (<b>IJCAI</b>)</li>
<li>ACM International Conference on Multimedia (<b>ACM MM</b>)</li>
</i>
</ul>
